In [14]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [15]:
file_path = Path('../Machine Learning/popular_features_fighters.csv')
fighter_df = pd.read_csv(file_path)
fighter_df = fighter_df.dropna()
fighter_df.head(10)

,Results,diff_CTRL_time(seconds),diff_GROUND_att,diff_GROUND_landed,diff_TD_landed,diff_SUB_ATT,diff_TD_pct,avg_KD
0,1,-49.000000,0.000000,0.000000,-49.000000,49.000000,-98.000000,147.000000
1,1,21.468750,11.437500,8.718750,12.750000,-4.031250,16.781250,-20.812500
2,1,-7.328125,-4.000000,-3.406250,-3.921875,0.515625,-4.437500,4.953125
3,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0,-168.867188,-2.131836,-1.531250,-167.335938,165.804688,-333.140625,498.945312
5,0,-134.515625,3.210938,4.515625,-139.031250,143.546875,-282.578125,426.125000
6,0,-78.937500,0.875000,1.000000,-79.937500,80.937500,-160.875000,241.812500
7,1,154.296829,18.328171,14.659668,139.637161,-124.977493,264.614654,-389.592148
8,1,-1.937500,5.562500,5.187500,-7.125000,12.312500,-19.437500,31.750000
9,1,56.500000,0.500000,-1.000000,57.500000,-58.500000,116.000000,-174.500000

In [16]:
X = fighter_df.drop("Results", axis=1)
X.head()

,diff_CTRL_time(seconds),diff_GROUND_att,diff_GROUND_landed,diff_TD_landed,diff_SUB_ATT,diff_TD_pct,avg_KD
0,-49.000000,0.000000,0.00000,-49.000000,49.000000,-98.000000,147.000000
1,21.468750,11.437500,8.71875,12.750000,-4.031250,16.781250,-20.812500
2,-7.328125,-4.000000,-3.40625,-3.921875,0.515625,-4.437500,4.953125
3,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
4,-168.867188,-2.131836,-1.53125,-167.335938,165.804688,-333.140625,498.945312

In [17]:
# Define the target set.
y = fighter_df["Results"].values
y[:5]

array([1, 1, 1, 0, 0], dtype=int64)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [19]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(9013, 7)
(3005, 7)
(9013,)
(3005,)

In [20]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [22]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [23]:
predictions

array([0, 1, 0, ..., 0, 1, 0], dtype=int64)

In [24]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          894          606
Actual 1          887          618

In [25]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.5031613976705491

In [26]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          894          606
Actual 1          887          618

Accuracy Score : 0.5031613976705491
Classification Report
              precision    recall  f1-score   support

           0       0.50      0.60      0.54      1500
           1       0.50      0.41      0.45      1505

    accuracy                           0.50      3005
   macro avg       0.50      0.50      0.50      3005
weighted avg       0.50      0.50      0.50      3005