In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
file_path = Path('../final_pro/a_faa_stance.csv')
fighter_df = pd.read_csv(file_path)
fighter_df = fighter_df.dropna()
fighter_df.head(10)

,Results,avg_KD,avg_opp_KD,avg_SIG_STR_pct,avg_opp_SIG_STR_pct,avg_TD_pct,avg_opp_TD_pct,avg_SUB_ATT,avg_opp_SUB_ATT,avg_REV,...,win_by_Decision_Split,win_by_Decision_Unanimous,win_by_KO/TKO,win_by_Submission,win_by_TKO_Doctor_Stoppage,Stance,Height,Reach,Weight,Age
0,1,1.000000,0.000000,0.500000,0.460000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0,0,1,0,0,1.0,170.18,177.80,135.0,27.0
1,1,1.031250,0.062500,0.576875,0.381250,0.406250,0.116250,0.250000,1.18750,0.375000,...,1,0,3,0,0,1.0,182.88,187.96,185.0,28.0
2,1,0.546875,0.187500,0.538906,0.598594,0.000000,0.312500,0.000000,0.25000,0.000000,...,0,1,3,0,0,2.0,187.96,190.50,264.0,28.0
4,0,0.000000,0.000977,0.403076,0.554961,0.511719,0.628750,0.231445,0.03125,0.031250,...,0,1,2,2,0,1.0,167.64,172.72,135.0,43.0
5,0,0.312500,0.015625,0.565156,0.343594,0.337031,0.048906,0.039062,0.00000,0.000000,...,1,2,2,2,0,1.0,182.88,190.50,155.0,41.0
6,0,0.625000,0.000000,0.493125,0.430000,0.000000,0.687500,0.000000,0.25000,0.250000,...,0,1,3,0,0,1.0,182.88,180.34,170.0,31.0
7,1,0.024551,0.220703,0.515636,0.445974,0.355824,0.000000,0.000092,0.00000,0.000000,...,0,4,7,1,0,2.0,185.42,195.58,185.0,37.0
8,1,0.750000,0.000000,0.615000,0.474375,0.668750,0.386875,0.062500,1.25000,0.625000,...,0,2,0,1,0,2.0,177.80,190.50,135.0,28.0
10,0,0.000000,0.000000,0.530000,0.490000,0.280000,0.000000,0.000000,0.00000,0.000000,...,0,0,0,0,0,2.0,165.10,172.72,125.0,27.0
11,0,0.000000,0.281250,0.561562,0.573320,0.392773,0.070312,0.777344,0.06250,1.015625,...,0,0,1,5,0,1.0,190.50,195.58,205.0,34.0

In [3]:
X = fighter_df.drop("Results", axis=1)
X.head()

,avg_KD,avg_opp_KD,avg_SIG_STR_pct,avg_opp_SIG_STR_pct,avg_TD_pct,avg_opp_TD_pct,avg_SUB_ATT,avg_opp_SUB_ATT,avg_REV,avg_opp_REV,...,win_by_Decision_Split,win_by_Decision_Unanimous,win_by_KO/TKO,win_by_Submission,win_by_TKO_Doctor_Stoppage,Stance,Height,Reach,Weight,Age
0,1.000000,0.000000,0.500000,0.460000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00,...,0,0,1,0,0,1.0,170.18,177.80,135.0,27.0
1,1.031250,0.062500,0.576875,0.381250,0.406250,0.116250,0.250000,1.18750,0.37500,0.25,...,1,0,3,0,0,1.0,182.88,187.96,185.0,28.0
2,0.546875,0.187500,0.538906,0.598594,0.000000,0.312500,0.000000,0.25000,0.00000,0.00,...,0,1,3,0,0,2.0,187.96,190.50,264.0,28.0
4,0.000000,0.000977,0.403076,0.554961,0.511719,0.628750,0.231445,0.03125,0.03125,0.50,...,0,1,2,2,0,1.0,167.64,172.72,135.0,43.0
5,0.312500,0.015625,0.565156,0.343594,0.337031,0.048906,0.039062,0.00000,0.00000,0.50,...,1,2,2,2,0,1.0,182.88,190.50,155.0,41.0

In [4]:
# Define the target set.
y = fighter_df["Results"].values
y[:5]

array([1, 1, 1, 0, 0], dtype=int64)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(6918, 68)
(2307, 68)
(6918,)
(2307,)

In [7]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train, y_train)

In [9]:
# Making predictions using the testing data.
predictions = model.predict(X_test)

In [10]:
predictions

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [11]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          543          555
Actual 1          588          621

In [12]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.5045513654096229

In [13]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          543          555
Actual 1          588          621

Accuracy Score : 0.5045513654096229
Classification Report
              precision    recall  f1-score   support

           0       0.48      0.49      0.49      1098
           1       0.53      0.51      0.52      1209

    accuracy                           0.50      2307
   macro avg       0.50      0.50      0.50      2307
weighted avg       0.51      0.50      0.50      2307