In [70]:
# Initial imports.
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [71]:
file_path = Path('../Machine Learning/fight_id_top39_test.csv')
fighter_df = pd.read_csv(file_path)
fighter_df = fighter_df.dropna()
fighter_df.head(10)

,Results,avg_SIG_STR_pct,avg_opp_SIG_STR_pct,avg_SIG_STR_landed,avg_TOTAL_STR_landed,avg_opp_TOTAL_STR_att,avg_opp_TOTAL_STR_landed,avg_HEAD_landed,avg_opp_HEAD_landed,avg_CTRL_time(seconds),avg_opp_CTRL_time(seconds)
0,1,0.610465,0.556651,25.203863,39.493837,103.648148,68.976960,15.223542,31.815940,284.080065,361.640729
1,1,0.541862,0.476602,30.815453,50.975348,70.592592,44.907840,21.894167,16.263761,491.320261,9.562915
2,1,0.493724,0.533204,15.630906,19.950697,47.185184,25.815680,9.788334,16.527523,122.640521,11.125829
3,1,0.469789,0.565636,23.047252,30.605575,83.481468,45.525438,15.306670,28.220183,66.124170,57.006634
4,1,0.299155,0.462543,32.189006,37.422298,133.925873,65.101753,20.226682,31.880733,57.496679,170.026536
5,1,0.409722,0.488094,34.666473,48.726578,117.688995,67.819382,16.881622,23.540924,263.012970,96.496994
6,1,0.276622,0.400171,35.756025,44.689194,169.703493,71.407013,18.906727,50.522934,57.986715,114.106146
7,1,0.399444,0.416189,48.332947,60.453156,99.377991,42.638763,26.763245,26.081848,116.025940,9.993988
8,1,0.272975,0.471371,37.048203,57.513550,155.627945,78.256104,26.253815,50.183472,149.893722,93.849167
9,1,0.318887,0.402377,61.665894,78.906311,166.755981,71.277527,33.526489,47.163696,157.051880,16.987976

In [72]:
# camps_binary_encoded = pd.get_dummies(fighter_df, columns=["Country"])
# camps_binary_encoded.head()

In [73]:
X = fighter_df.drop("Results", axis=1)
X.head()

,avg_SIG_STR_pct,avg_opp_SIG_STR_pct,avg_SIG_STR_landed,avg_TOTAL_STR_landed,avg_opp_TOTAL_STR_att,avg_opp_TOTAL_STR_landed,avg_HEAD_landed,avg_opp_HEAD_landed,avg_CTRL_time(seconds),avg_opp_CTRL_time(seconds)
0,0.610465,0.556651,25.203863,39.493837,103.648148,68.976960,15.223542,31.815940,284.080065,361.640729
1,0.541862,0.476602,30.815453,50.975348,70.592592,44.907840,21.894167,16.263761,491.320261,9.562915
2,0.493724,0.533204,15.630906,19.950697,47.185184,25.815680,9.788334,16.527523,122.640521,11.125829
3,0.469789,0.565636,23.047252,30.605575,83.481468,45.525438,15.306670,28.220183,66.124170,57.006634
4,0.299155,0.462543,32.189006,37.422298,133.925873,65.101753,20.226682,31.880733,57.496679,170.026536

In [74]:
# Define the target set.
y = fighter_df["Results"].ravel()
y[:5]

array([1, 1, 1, 1, 1], dtype=int64)

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [76]:
# Create a random forest classifier.
fighter_model = RandomForestClassifier(n_estimators=5000, random_state=2)

In [77]:
# Fitting the model
fighter_model = fighter_model.fit(X_train, y_train)

In [78]:
# Making predictions using the testing data.
predictions = fighter_model.predict(X_test)

In [79]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           29           27
Actual 1           16           37

In [80]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [81]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           29           27
Actual 1           16           37

Accuracy Score : 0.6055045871559633
Classification Report
              precision    recall  f1-score   support

           0       0.64      0.52      0.57        56
           1       0.58      0.70      0.63        53

    accuracy                           0.61       109
   macro avg       0.61      0.61      0.60       109
weighted avg       0.61      0.61      0.60       109

In [82]:
# Calculate feature importance in the Random Forest model.
importances = fighter_model.feature_importances_
importances

array([0.09185964, 0.11316046, 0.0921764 , 0.08979238, 0.09058709,
       0.09529659, 0.09597908, 0.11224485, 0.12294176, 0.09596175])

In [83]:
sorted(zip(fighter_model.feature_importances_, X.columns), reverse=True)

[(0.12294175750095288, 'avg_CTRL_time(seconds)'),
 (0.11316045595252379, 'avg_opp_SIG_STR_pct'),
 (0.1122448518832059, 'avg_opp_HEAD_landed'),
 (0.09597908255599685, 'avg_HEAD_landed'),
 (0.0959617516755771, 'avg_opp_CTRL_time(seconds)'),
 (0.09529658969985869, 'avg_opp_TOTAL_STR_landed'),
 (0.09217639903658541, 'avg_SIG_STR_landed'),
 (0.09185963759737505, 'avg_SIG_STR_pct'),
 (0.09058708945425176, 'avg_opp_TOTAL_STR_att'),
 (0.08979238464367248, 'avg_TOTAL_STR_landed')]