In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
file_path = Path('../Machine Learning/popular_features_fighters.csv')
fighter_df = pd.read_csv(file_path)
fighter_df = fighter_df.dropna()
fighter_df.head(10)

,Results,diff_CTRL_time(seconds),diff_GROUND_att,diff_GROUND_landed,diff_TD_landed,diff_SUB_ATT,diff_TD_pct,avg_KD
0,1,-49.000000,0.000000,0.000000,-49.000000,49.000000,-98.000000,147.000000
1,1,21.468750,11.437500,8.718750,12.750000,-4.031250,16.781250,-20.812500
2,1,-7.328125,-4.000000,-3.406250,-3.921875,0.515625,-4.437500,4.953125
3,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0,-168.867188,-2.131836,-1.531250,-167.335938,165.804688,-333.140625,498.945312
5,0,-134.515625,3.210938,4.515625,-139.031250,143.546875,-282.578125,426.125000
6,0,-78.937500,0.875000,1.000000,-79.937500,80.937500,-160.875000,241.812500
7,1,154.296829,18.328171,14.659668,139.637161,-124.977493,264.614654,-389.592148
8,1,-1.937500,5.562500,5.187500,-7.125000,12.312500,-19.437500,31.750000
9,1,56.500000,0.500000,-1.000000,57.500000,-58.500000,116.000000,-174.500000

In [3]:
X = fighter_df.drop("Results", axis=1)
X.head()

,diff_CTRL_time(seconds),diff_GROUND_att,diff_GROUND_landed,diff_TD_landed,diff_SUB_ATT,diff_TD_pct,avg_KD
0,-49.000000,0.000000,0.00000,-49.000000,49.000000,-98.000000,147.000000
1,21.468750,11.437500,8.71875,12.750000,-4.031250,16.781250,-20.812500
2,-7.328125,-4.000000,-3.40625,-3.921875,0.515625,-4.437500,4.953125
3,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
4,-168.867188,-2.131836,-1.53125,-167.335938,165.804688,-333.140625,498.945312

In [4]:
# Define the target set.
y = fighter_df["Results"].values
y[:5]

array([1, 1, 1, 0, 0], dtype=int64)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [6]:
# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(9013, 7)
(3005, 7)
(9013,)
(3005,)

In [7]:
rf_model = RandomForestClassifier(n_estimators=128, random_state=2) 
rf_model = rf_model.fit(X_train, y_train)
predictions = rf_model.predict(X_test)
predictions

array([1, 1, 1, ..., 0, 1, 0], dtype=int64)

In [8]:
# Calculating the confusion matrix.
conmat = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
conmat_df = pd.DataFrame(
    conmat, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

conmat_df

          Predicted 0  Predicted 1
Actual 0          928          620
Actual 1          837          620

In [9]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.5151414309484194

In [10]:
# Displaying results
print("Confusion Matrix")
display(conmat_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          928          620
Actual 1          837          620

Accuracy Score : 0.5151414309484194
Classification Report
              precision    recall  f1-score   support

           0       0.53      0.60      0.56      1548
           1       0.50      0.43      0.46      1457

    accuracy                           0.52      3005
   macro avg       0.51      0.51      0.51      3005
weighted avg       0.51      0.52      0.51      3005

In [11]:
from sklearn.ensemble import GradientBoostingClassifier
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
   classifier = GradientBoostingClassifier(n_estimators=20,
   learning_rate=learning_rate,
   max_features=5,
   max_depth=3,
   random_state=1)
   classifier.fit(X_train, y_train)
   print("Learning rate: ", learning_rate)
   print("Accuracy score (training): {0:.3f}".format(
       classifier.score(
           X_train,
           y_train)))
   print("Accuracy score (validation): {0:.3f}".format(
       classifier.score(
           X_test,
           y_test)))

Learning rate:  0.05
Accuracy score (training): 0.556
Accuracy score (validation): 0.535
Learning rate:  0.1
Accuracy score (training): 0.561
Accuracy score (validation): 0.536
Learning rate:  0.25
Accuracy score (training): 0.565
Accuracy score (validation): 0.536
Learning rate:  0.5
Accuracy score (training): 0.580
Accuracy score (validation): 0.533
Learning rate:  0.75
Accuracy score (training): 0.589
Accuracy score (validation): 0.522
Learning rate:  1
Accuracy score (training): 0.583
Accuracy score (validation): 0.537

In [12]:
classifier = GradientBoostingClassifier(n_estimators=2000,
   learning_rate=0.75, max_features=5, max_depth=3, random_state=0)

classifier.fit(X_train, y_train)
predictions = classifier.predict(X_test)

In [13]:
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.5214642262895175

In [14]:
fight_df = confusion_matrix(y_test, predictions)
fight_df = pd.DataFrame(
   fight_df, index=["Actual 0", "Actual 1"],
   columns=["Predicted 0", "Predicted 1"]
)
display(fight_df)

          Predicted 0  Predicted 1
Actual 0          921          627
Actual 1          811          646

In [15]:
print("Confusion Matrix")
display(fight_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          921          627
Actual 1          811          646

Accuracy Score : 0.5214642262895175
Classification Report
              precision    recall  f1-score   support

           0       0.53      0.59      0.56      1548
           1       0.51      0.44      0.47      1457

    accuracy                           0.52      3005
   macro avg       0.52      0.52      0.52      3005
weighted avg       0.52      0.52      0.52      3005